<!DOCTYPE html>
<html lang="en" layout:decorate="basicTemplate"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Country Management</title>

</head>

<body>
<div layout:fragment="template">
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Country Management</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Globals</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Country</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"
                                   role="button">
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Import List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- basic table  Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix mb-20">
                        <div class="pull-left">
                            <button class="btn btn-primary" data-target="#addModal" data-toggle="modal" type="button">
                                New Country
                            </button>
                            <br> <h4 class="text-blue h4">Countries List</h4>
                        </div>
                    </div>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                            <th>Capital</th>
                            <th>Code</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="country : ${countries}">
                            <td th:text="${country.id}"></td>
                            <td th:text="${country.description}"></td>
                            <td th:text="${country.capital}"></td>
                            <td th:text="${country.code}"></td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" id="editButton"
                                       th:href="@{countries/find(id=${country.id})}"><i
                                            class="icon_pencil-edit"></i></a>
                                    <a class="btn btn-info" id="detailButton"><i class="icon_document_alt"></i></a>
                                    <a class="btn btn-danger" id="deleteButton"
                                       th:href="@{countries/delete(id=${country.id})}"><i
                                            class="icon_close_alt2"></i></a>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modals -->

    <!--Add New Country-->
    <div aria-hidden="true" aria-labelledby="addModalLabel" class="modal fade" id="addModal" role="dialog"
         tabindex="-1">
        <form class="addCountry" method="post" th:action="@{/countries/addNew}">
            <div class="modal-dialog modal-lg" role="document" style="width:100%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">New Country</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <td style="padding-left: 50px; padding-right:80px;" width="100%">

                                    <div class="form-group">
                                        <label class="col-form-label" for="description">Description:</label>
                                        <input class="form-control" id="description" name="description" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="capital">Capital:</label>
                                        <input class="form-control" id="capital" name="capital" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="code">Code:</label>
                                        <input class="form-control" id="code" name="code" type="number">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="continent">Continent:</label>
                                        <input class="form-control" id="continent" name="continent" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="nationality">Nationality:</label>
                                        <input class="form-control" id="nationality" name="nationality" type="text">
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Update Country -->
    <div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade" id="editModal" role="dialog"
         tabindex="-1">
        <form class="editCountry" method="put" th:action="@{/countries/update}">
            <div class="modal-dialog modal-lg" role="document" style="width:100%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Country</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <td style="padding-left: 80px; padding-right:80px;" width="100%">

                                    <div class="form-group" th:hidden="true">
                                        <label class="col-form-label" for="id-edit">id:</label>
                                        <input class="form-control" id="id-edit" name="id" readonly type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="description-edit">Description:</label>
                                        <input class="form-control" id="description-edit" name="description"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="capital-edit">Capital:</label>
                                        <input class="form-control" id="capital-edit" name="capital" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="code-edit">Code:</label>
                                        <input class="form-control" id="code-edit" name="code" type="number">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="continent-edit">Continent:</label>
                                        <input class="form-control" id="continent-edit" name="continent" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="nationality-edit">Nationality:</label>
                                        <input class="form-control" id="nationality-edit" name="nationality"
                                               type="text">
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Country Details-->
    <div aria-hidden="true" aria-labelledby="detailsModalLabel" class="modal fade" id="detailsModal" role="dialog"
         tabindex="-1">
        <form>
            <div class="modal-dialog modal-lg" role="document" style="width:100%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel">Detail Country</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <td style="padding-left: 80px; padding-right:80px;" width="100%">

                                    <div class="form-group">
                                        <label class="col-form-label" for="description-detail">Description:</label>
                                        <input class="form-control" id="description-detail" name="description"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="capital-detail">Capital:</label>
                                        <input class="form-control" id="capital-detail" name="capital" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="code-detail">Code:</label>
                                        <input class="form-control" id="code-detail" name="code" type="number">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="continent-detail">Continent:</label>
                                        <input class="form-control" id="continent-detail" name="continent" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="nationality-detail">Nationality:</label>
                                        <input class="form-control" id="nationality-detail" name="nationality"
                                               type="text">
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Delete Country -->
    <div class="modal" id="deleteModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sur ?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-info" href="" id="confirmdelete">Confirm</a>
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Modals -->

    <!-- container section end -->


    <!--Jquery-->
    <script src="js/external/jquery.js"></script>

    <!-- Custom Scripts -->
    <script src="js/internal/country.js"></script>

</div>

</body>

</html>
