<!DOCTYPE html>
<html lang="en" layout:decorate="basicTemplate"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Vehicle Datas Management</title>

</head>

<body>
<div layout:fragment="template">
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Vehicle Data Management</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Vehicles</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Vehicle Datas</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"
                                   role="button">
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Import List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- basic table  Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix mb-20">
                        <div class="pull-left">
                            <button class="btn btn-primary" data-target="#addModal" data-toggle="modal" type="button">
                                New Vehicle Data
                            </button>
                            <h4 class="text-blue h4">Vehicles Data List</h4>
                        </div>
                    </div>
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th><i class="icon_table"></i>Id</th>
                            <th><i class="icon_table"></i>Name</th>
                            <th><i class="icon_table"></i>Description</th>
                            <th><i class="icon_table"></i>Acquisition Date</th>
                            <th><i class="icon_cogs"></i>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vehicle : ${vehicles}">
                            <td th:text="${vehicle.id}"></td>
                            <td th:text="${vehicle.name}"></td>
                            <td th:text="${vehicle.description}"></td>
                            <td th:text="${vehicle.acquisitionDate}"></td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" id="editButton"
                                       th:href="@{vehicles/find(id=${vehicle.id})}"><i class="icon_pencil-edit"></i></a>
                                    <a class="btn btn-info" id="detailsButton"
                                       th:href="@{vehicles/find(id=${vehicle.id})}"><i
                                            class="icon_document_alt"></i></a>
                                    <a class="btn btn-danger" id="deleteButton"
                                       th:href="@{vehicles/delete(id=${vehicle.id})}"><i
                                            class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modals -->

    <!--Add New vehicle -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <form th:action="@{/vehicles/addNew}" method="post">
        <div class="modal-dialog modal-lg" role="document" style="width:100%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">New vehicle Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <table width="100%">
                        <tr>
                            <td style="padding-left:50px; padding-right:50px;" width="50%">
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleType">Vehicle Type: </label>
                                        <select class="form-control" id="ddlVehicleType" name="vehicletypeid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleType : ${vehicleTypes}"
                                                    th:value="${vehicleType.id}"
                                                    th:text="${vehicleType.description}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="name">Vehicle Name: </label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Vehicle name">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="vehicleNumber">Vehicle Number: </label>
                                        <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber" placeholder="Vehicle number">
                                    </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="registrationDate">Registration Date: </label>
                                        <input type="date" class="form-control" id="registrationDate" name="registrationDate" placeholder="Registration date">
                                    </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="description">Description: </label>
                                    <textarea class="form-control" id="description" name="description"
                                              placeholder="Description" style="height: auto;" type="text"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="acquisitionDate">Acquisition Date: </label>
                                        <input type="date" class="form-control" id="acquisitionDate" name="acquisitionDate" placeholder="Acquisition date">
                                    </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleMakeAdd">Vehicle Make: </label>
                                        <select class="form-control" id="ddlVehicleMakeAdd" name="vehiclemakeid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleMake : ${vehicleMakes}"
                                                    th:value="${vehicleMake.id}"
                                                    th:text="${vehicleMake.description}">
                                            </option>
                                        </select>
                                    </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleModelAdd">Vehicle Model: </label>
                                        <select class="form-control" id="ddlVehicleModelAdd" name="vehiclemodelid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleModel : ${vehicleModels}"
                                                    th:value="${vehicleModel.id}"
                                                    th:text="${vehicleModel.description}">
                                            </option>
                                        </select>
                                    </div>

                            </td>
                            <td style="padding-left:80px; padding-right:50px;" width="50%">

                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlCurrentLocationAdd">Current Location</label>
                                    <select class="form-control" id="ddlCurrentLocationAdd" name="locationid">
                                        <option>-SELECT-</option>
                                        <option th:each="location : ${locations}"
                                                th:text="${location.description}"
                                                th:value="${location.id}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlPowerAdd">Power: </label>
                                        <input type="text" class="form-control" id="ddlPowerAdd" name="power" placeholder="Power(disel or fuel)">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="fuelCapacity">Fuel Capacity: </label>
                                        <input type="text" class="form-control" id="fuelCapacity" name="fuelCapacity" placeholder="Fuel Capacity">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="netWeight">Net Weight: </label>
                                        <input type="text" class="form-control" id="netWeight" name="netWeight" placeholder="Net Weight">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="remarks">Remarks: </label>
                                    <textarea class="form-control" id="remarks" name="remarks" placeholder="Remarks"
                                              style="height: auto;" type="text"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlEmployeeAdd">In Charge</label>
                                        <select class="form-control" id="ddlEmployeeAdd" name="employeeid">
                                            <option disabled>-SELECT-</option>
                                            <option th:each="employee : ${employees}"
                                                    th:value="${employee.id}"
                                                    th:text="${employee.firstname}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlCurrentStatusAdd">Current Status</label>
                                        <select class="form-control" id="ddlCurrentStatusAdd" name="vehiclestatusid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleStatus : ${vehicleStatuses}"
                                                    th:value="${vehicleStatus.id}"
                                                    th:text="${vehicleStatus.description}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="fupImageAdd">Select Image: </label>
                                        <input type="file" class="form-control-file" id="fupImageAdd" name="photo" placeholder="Select File">
                                    </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Update vehicle-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <form method="put" th:action="@{/vehicles/update}">
        <div class="modal-dialog modal-lg" role="document" style="width:100%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update Hire Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table width="100%">
                        <tr>
                            <td style="padding-left: 50px; padding-right: 50px;" width="50%">
                                <div class="form-group row" hidden>
                                    <label class="col-form-label" for="id-edit">Id: </label>
                                    <input class="form-control" id="id-edit" name="id" placeholder="Id" readonly
                                           type="text">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleTypeEdit">Vehicle Type: </label>
                                        <select class="form-control" id="ddlVehicleTypeEdit" name="vehicletypeid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleType : ${vehicleTypes}"
                                                    th:value="${vehicleType.id}"
                                                    th:text="${vehicleType.description}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="name-edit">Vehicle Name: </label>
                                        <input type="text" class="form-control" id="name-edit" name="name" placeholder="Vehicle name">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="vehicleNumber-edit">Vehicle Number: </label>
                                        <input type="text" class="form-control" id="vehicleNumber-edit" name="vehicleNumber" placeholder="Vehicle number">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="registrationDate-edit">Registration
                                        Date: </label>
                                        <input type="date" class="form-control" id="registrationDate-edit" name="registrationDate" placeholder="Registration date">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="description-edit">Description: </label>
                                    <textarea class="form-control" id="description-edit" name="description"
                                              placeholder="Description" style="height: auto;" type="text"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="acquisitionDate-edit">Acquisition Date: </label>
                                        <input type="date" class="form-control" id="acquisitionDate-edit" name="acquisitionDate" placeholder="Acquisition date">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleMakeEdit">Vehicle Make: </label>
                                        <select class="form-control" id="ddlVehicleMakeEdit" name="vehiclemakeid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleMake : ${vehicleMakes}"
                                                    th:value="${vehicleMake.id}"
                                                    th:text="${vehicleMake.description}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleModelEdit">Vehicle Model: </label>
                                        <select class="form-control" id="ddlVehicleModelEdit" name="vehiclemodelid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleModel : ${vehicleModels}"
                                                    th:value="${vehicleModel.id}"
                                                    th:text="${vehicleModel.description}">
                                            </option>
                                        </select>
                                </div>

                            </td>
                            <td style="padding-left:50px; padding-right:50px;" width="50%">

                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlCurrentLocationEdit">Current Location</label>
                                    <select class="form-control" id="ddlCurrentLocationEdit" name="locationid">
                                        <option>-SELECT-</option>
                                        <option th:each="location : ${locations}"
                                                th:text="${location.description}"
                                                th:value="${location.id}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlPowerEdit">Power: </label>
                                        <input type="text" class="form-control" id="ddlPowerEdit" name="power" placeholder="Power(disel or fuel)">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="fuelCapacity-edit">Fuel Capacity: </label>
                                        <input type="text" class="form-control" id="fuelCapacity-edit" name="fuelCapacity" placeholder="Fuel Capacity">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="netWeight-edit">Net Weight: </label>
                                        <input type="text" class="form-control" id="netWeight-edit" name="netWeight" placeholder="Net Weight">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="remarks-edit">Remarks: </label>
                                    <textarea class="form-control" id="remarks-edit" name="remarks"
                                              placeholder="Remarks" style="height: auto;" type="text"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlEmployeeEdit">In Charge</label>
                                        <select class="form-control" id="ddlEmployeeEdit" name="employeeid">
                                            <option disabled>-SELECT-</option>
                                            <option th:each="employee : ${employees}"
                                                    th:value="${employee.id}"
                                                    th:text="${employee.firstname}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlCurrentStatusEdit">Current Status</label>
                                        <select class="form-control" id="ddlCurrentStatusEdit" name="vehiclestatusid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleStatus : ${vehicleStatuses}"
                                                    th:value="${vehicleStatus.id}"
                                                    th:text="${vehicleStatus.description}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="fupImageEdit">Select Image: </label>
                                        <input type="file" class="form-control-file" id="fupImageEdit" name="photo" placeholder="Select File">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Details vehicle-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <form>
        <div class="modal-dialog modal-lg" role="document" style="width:100%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Detail Vehicle Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table width="100%">
                        <tr>
                            <td style="padding-left:50px; padding-right:50px;" width="50%">
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleTypeDetail">Vehicle Type: </label>
                                        <select class="form-control" id="ddlVehicleTypeDetail" name="vehicletypeid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleType : ${vehicleTypes}"
                                                    th:value="${vehicleType.id}"
                                                    th:text="${vehicleType.description}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="name-detail">Vehicle Name: </label>
                                        <input type="text" class="form-control" id="name-detail" name="name" placeholder="Vehicle name">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="vehicleNumber-detail">Vehicle Number: </label>
                                        <input type="text" class="form-control" id="vehicleNumber-detail" name="vehicleNumber" placeholder="Vehicle number">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="registrationDate-detail">Registration
                                        Date: </label>
                                        <input type="date" class="form-control" id="registrationDate-detail" name="registrationDate" placeholder="Registration date">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="description-detail">Description: </label>
                                    <textarea class="form-control" id="description-detail" name="description"
                                              placeholder="Description" style="height: auto;" type="text"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="acquisitionDate-detail">Acquisition
                                        Date: </label>
                                        <input type="date" class="form-control" id="acquisitionDate-detail" name="acquisitionDate" placeholder="Acquisition date">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleMakeDetail">Vehicle Make: </label>
                                        <select class="form-control" id="ddlVehicleMakeDetail" name="vehiclemakeid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleMake : ${vehicleMakes}"
                                                    th:value="${vehicleMake.id}"
                                                    th:text="${vehicleMake.description}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlVehicleModelDetail">Vehicle Model: </label>
                                        <select class="form-control" id="ddlVehicleModelDetail" name="vehiclemodelid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleModel : ${vehicleModels}"
                                                    th:value="${vehicleModel.id}"
                                                    th:text="${vehicleModel.description}">
                                            </option>
                                        </select>
                                </div>

                            </td>
                            <td style="padding-left:50px; padding-right:50px; padding-bottom: 84px;" width="50%">

                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlCurrentLocationDetail">Current
                                        Location</label>
                                    <select class="form-control" id="ddlCurrentLocationDetail" name="locationid">
                                        <option>-SELECT-</option>
                                        <option th:each="location : ${locations}"
                                                th:text="${location.description}"
                                                th:value="${location.id}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlPowerDetail">Power: </label>
                                        <input type="text" class="form-control" id="ddlPowerDetail" name="power" placeholder="Power(disel or fuel)">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="fuelCapacity-detail">Fuel Capacity: </label>
                                        <input type="text" class="form-control" id="fuelCapacity-detail" name="fuelCapacity" placeholder="Fuel Capacity">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="netWeight-detail">Net Weight: </label>
                                        <input type="text" class="form-control" id="netWeight-detail" name="netWeight" placeholder="Net Weight">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="remarks-detail">Remarks: </label>
                                    <textarea class="form-control" id="remarks-detail" name="remarks"
                                              placeholder="Remarks" style="height: auto;" type="text"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlEmployeeDetail">In Charge</label>
                                        <select class="form-control" id="ddlEmployeeDetail" name="employeeid">
                                            <option disabled>-SELECT-</option>
                                            <option th:each="employee : ${employees}"
                                                    th:value="${employee.id}"
                                                    th:text="${employee.firstname}">
                                            </option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label" for="ddlCurrentStatusDetail">Current Status</label>
                                        <select class="form-control" id="ddlCurrentStatusDetail" name="vehiclestatusid">
                                            <option>-SELECT-</option>
                                            <option th:each="vehicleStatus : ${vehicleStatuses}"
                                                    th:value="${vehicleStatus.id}"
                                                    th:text="${vehicleStatus.description}">
                                            </option>
                                        </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Delete vehicle -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sur ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" id="confirmdelete" href="">Confirm</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

    <!-- End Modals -->

<!-- container section end -->

<!-- javascripts by Default -->

    <!--Jquery-->
    <script src="js/external/jquery.js"></script>

<!-- Custom Scripts -->
    <script src="js/internal/vehicle.js"></script>

</div>

</body>

</html>
